@import "../../styles/variables";

#home {
  h1 {
    margin-top: 0;
    padding-left: 6px;
  }
  i {
    margin: 1rem;
  }
  .content {
    text-align: center;
    .at {
      margin: 0;
    }
    input {
      font-size: 22px;
      height: 42px;
      text-align: center;
      display: inline-block;
      max-width: 325px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    input[type="email"] {
      width: 100%;
    }
    input[type="time"] {
      width: 225px;
      font-weight: 700px;
    }
    button {
      margin-top: 10px;
      font-size: 22px;
    }
  }
}
